.roboto-slab-title-font {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  

.links{
    text-decoration: none;
    color:#a1a1a1;
    transition: all 0.3s ease;
}

.links:hover{
    font-size: 1.2em; 
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}

.name-div {
    font:ubuntu-mono-bold;
    position: absolute;
    top: 40%; /* Adjust this value to change the distance from the top */
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 10vh;
}

.project-content {
    border: 2px solid  #a1a1a1;
    border-radius: 30px;
    overflow: hidden;
    width: 20vw;
    height: 40vh;
    padding-bottom: 0%;
    transition: transform .2s;
  }
.project-content:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

body {
    background-color: #000000; /* Set your desired background color here */
  }

p{
    color: #9778ED;
}
h1,h2,h3,h4,h5,h6{
    color: #9778ED;
}
a:link{
    color: #9778ED;
}